.nav{
  background-color: rgb(78, 130, 71);
}

#logo h1{  
  color: white;
}

#list{
  list-style: none;  
}

#list li{
  display: inline-block;
  margin: 3px;
  text-align: center;
  float: right;
}

#list li a{
  text-decoration: none;
  color: white;
  padding: 10px 15px;
  display:block;
}

#list li a:hover{
  background-color: rgb(146, 214, 170);
  color: black;
  border-radius: 10px;
}

.about h2{
  color: rgb(78, 130, 71);
}

.logout:hover{
  color: white;
  background-color: aquamarine;
}
