#main{
    /* border: 2px solid black; */
    /* max-width: 1520px;  */
    margin: 10px 0; 
    /* padding: 0px; */
}

#admin-sidebar{
    height: 91vh;
    border-right: 2px solid black;
    text-align: center;
    background:rgb(11, 11, 11);
}
#admin-button{
    background:rgba(189, 234, 237, 1);
    margin-bottom: 3px;
    transition: background-color 0.3s;
}
#admin-button:hover{
    background-color:black ;
    color: white;
}